extends ../../layout/default.pug
include ../../mixins/pagination.pug
//- kết quả chi tiết từng bài thi
block main
  p.title(style="font-size:26px;font-weight:bold;") #{test.TenBaithi}
  .row.align-items-center.justify-content-between.mb-6
    .d-flex.align-items-center.result-student-admin
      span.title Lớp:
      .dropdown.ml-2.margin-btn-all-admin
        button.btn.btn-primary.dropdown-toggle#dropdownButton(type='button' data-bs-toggle='dropdown')
          | #{className}
        ul.dropdown-menu
          each lop, index in [1,2,3,4,5,6,7,8,9,10]
            li
              - var lopStr = "DCCN" + ("0" + lop).slice(-2)
              a.dropdown-item(data-class = lopStr) #{lopStr}
          li
            a.dropdown-item(data-class = "all") Tất cả
      .search-wrapper.d-flex.align-items-center.ml-2
        input(type="text" class="form-control search-box" tim-kiem-stu placeholder="---Tìm kiếm---" value=keyword)
        button.btn.btn-light(btn-loc-stu) Lọc
      .d-flex.align-items-center.ml-2
        button.btn.btn-light(btn-tinh-diem) Tính điểm
        button#exportButton.btn.btn-light.btn-export-excel.btn-responsive.mr-2.btn-export-excel-stu Xuất Excel

  hr
  h5 Danh sách sinh viên
  if studentList == null || studentList.length == 0
    p Không có dữ liệu
  else
    table.detail-test-id(class="table table-striped")
      thead
        tr
          th STT
          th Mã sinh viên
          th Họ và tên
          th Lớp
          th Điểm
          th Chi tiết

      tbody
        - if (studentList)
            each student, index in studentList
              tr
                td #{index + 1}
                td #{student.MSV}
                td #{student.Ten}
                td #{student.Lop}
                td #{resultList[index].Diem || 0}
                td
                  a.btn.btn-primary.btn-responsive( idStu = student.MSV btn-detail-thi-stu) Xem chi tiết
  input(type="hidden" data_to_excel_student=JSON.stringify(studentList))
  input(type="hidden" data_to_excel_result=JSON.stringify(resultList))
  input(type="hidden" name_excel=JSON.stringify(test.TenBaithi))
  <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
  script(src="/js/admin/export_excel.js")
  

  
